

.approach-container {
    font-family: 'Quicksand', sans-serif;
    width:100%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 100px;
    
}

.approach-title {
    margin-bottom: 2em;
}

.approach-title h1 {
    margin: 10px 1em;
    font-weight: 300;
}

.approach-content {
    width: 60%;
    margin-left:auto;
    margin-right: 1em;
}

.approach-cards {
    align-items: center;
    vertical-align: middle;
}

.approach-card {
    display: inline-block;
    width: 40%;
    min-height: 400px;
    padding: 1em;
    vertical-align: middle;
}

.approach-image {
    min-height:130px;
    max-height:150px;
    margin: 1em;
}

.approach-card img {
    max-height: 150px;
    object-fit: contain;
}

.approach-card h3 {
    margin-bottom: 10px;
}
