

.approach-container {
    font-family: 'Quicksand', sans-serif;
    max-width: 960px;
    margin-bottom: 100px;
}

.approach-title {
    margin-bottom: 2em;
}

.approach-title h1 {
    margin: 10px 1em;
    font-weight: 300;
}

.approach-content {
    width: 60%;
    margin-left:auto;
    margin-right: 1em;
}

.approach-card {
    display: inline-block;
    width: 40%;
    padding: 1em;
}

.approach-card img {
    
}

.approach-card h3 {
    margin-bottom: px;
}
