.headquarter-location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.headquarter-location h3 {
    margin-bottom: 0.3rem;
    text-align: left;

}
.headquarter-location ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.map {
    width: 350px;
    height: 350px;
}
/* .map > div {
    border-radius: 10px;
} */

@media (max-width: 700px) {
.headquarter-location {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 350px;
    gap: 15px;
}
}
@media (max-width: 350px) {
    .headquarter-location {
        width: 92.5vw !important;
    }
    .map {
        width: 90vw;
        height: 90vw;
    }
    .map > div {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    
    }
}