.headquarter-location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.headquarter-location h3 {
    margin-bottom: 0.3rem;
    text-align: left;

}
.headquarter-location ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.map {
    width: 350px;
    height: 350px;
}

@media (max-width: 700px) {
.headquarter-location {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 350px;
    gap: 15px;
}
}