@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

.row {
    max-width: 600px;
    margin: 0 auto;
}

.footer{
    list-style: none;
    line-height: 1.2;
	font-family: 'Quicksand', sans-serif;
	background-color: #24262b;
    padding: 0px 0;
    margin:0;
	padding:0;
	box-sizing: border-box;
    font-size: x-small;
	color: #ffffff;
    place-items: center;
    
}

.footer-col{
   min-width: 200px;
   max-width: 40%;
   padding: 15px;
   display: inline-block;
   vertical-align: top;
   margin: 0;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




