.row {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.footer{
    list-style: none;
    line-height: 1.2;
	background-color: #24262b;
    padding: 0px 0;
    margin:0;
	padding:0;
	box-sizing: border-box;
    font-size: small;
	color: #ffffff;
    width: 100%;
}
.footer .container {
    /* width: 97.5vw; */
}

.footer__left, .footer__right{
   padding: 15px;
   display: inline-block;
   vertical-align: top;
   margin: 0;
   text-align: left;
}
.footer__left {
    max-width: 200px;
}
.footer__right{
    margin-right: 1.5vw;
}

.footer__right a{
	color: #ffffff;
    text-decoration: none;
}

@media(max-width: 1020px){
    .row {
        justify-content: center;
    }
    .footer__right{
        margin-right: 0vw;
    }
}
@media(max-width: 370px){
    .row {
        flex-direction: column;
        place-items: center;
    }
    .footer__left {
        width: 200px;
    }
    .footer__right{
        width: 200px;
    }
}
@media(max-width: 220px){
    .row {
        flex-direction: column;
        place-items: center;
    }
    .footer__left {
        width: 95%;
    }
    .footer__right{
        width: 95%;
    }
}





