.person__details {
    width: 550px
}
.biginfo__card {
    height: 550px;
    display: flex;
    position: relative;
}
.biginfo__right h2, .biginfo__right h1, .biginfo__right p {
    background-color: aqua;
    color: black; 
    max-width: fit-content;
    padding: 3px 5px 3px 5px;
}
.biginfo__card img {
    height: 100%;
    opacity: 0.7;
}
.biginfo__left {
    position: absolute;
    height: 100%;
    left: -20%;
}
.biginfo__right {
    position: absolute;
    right: -20%;
    width: 50%;
    padding: 10px;
    text-align: left;
}
.biginfo__right p {
    margin: 0;
    font-size: large;
    margin-left: 25px;
    margin-top: 15%;
}

.content > h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: right;
}

.project__details {
    width: 80%;
}
.smallinfo__card {
    height: 350px;
    width: 350px;
    justify-content: center;
    display: flex;
    place-content: center;
    position: relative;
    margin-bottom: 75px;
}

.smallinfo__card img {
    width: 450px;
    max-height: 100%;
    opacity: 0.7;
}
.smallinfo__left {
    position: absolute;
    left: 50%;
    height: 100%;
}
.smallinfo__right {
    width: 100%;
    position: absolute;
    left: -50%;
    padding: 10px;
    text-align: left;
}
.smallinfo__right p {
    margin: 0;
    font-size: large;
    margin-left: 25%;
    margin-top: 15%;
}
.smallinfo__card:nth-child(even) {
    flex-direction: row-reverse;
}
.smallinfo__card:nth-child(even) > .smallinfo__left {
    left: -50%;
}
.smallinfo__card:nth-child(even) > .smallinfo__right {
    left: 50%;
}
.smallinfo__right h2, .smallinfo__right p {
    background-color: violet;
    color: black; 
    max-width: fit-content;
    padding: 3px 5px 3px 5px;
}

@media (max-width: 1050px) {
    
    .smallinfo__left {
        left: 20%;
    }
    .smallinfo__right {
        left: -30%;
    }
    .smallinfo__card:nth-child(even) > .smallinfo__left {
        left: -20%;
    }
    .smallinfo__card:nth-child(even) > .smallinfo__right {
        left: 30%;
    }


}
@media (max-width: 850px) {
.smallinfo__card img {
    width: 400px;
}
}
@media (max-width: 800px) {
    .biginfo__card {
        width: 100%;
    }
    .biginfo__left {
        left: 0%
    }
    .biginfo__right {
        position: relative;
        left: 0%;
        bottom: -45%;
        padding: 10px;
        text-align: left;
    }
}
@media (max-width: 700px) {
    .smallinfo__left {
        left: 10%;
    }
    .smallinfo__right {
        left: -10%;
        bottom: 5%;
    }
    .smallinfo__card:nth-child(even) > .smallinfo__left {
        left: -10%;
    }
    .smallinfo__card:nth-child(even) > .smallinfo__right {
        left: 10%;
    }
}
@media (max-width: 600px) {
    .smallinfo__left {
        left: 0%;
    }
    .smallinfo__right {
        left: -10%;
        bottom: 5%;
    }
    .smallinfo__card:nth-child(even) > .smallinfo__left {
        left: 0%;
    }
    .smallinfo__card:nth-child(even) > .smallinfo__right {
        left: 10%;
    }
}
@media (max-width: 530px) {
    .smallinfo__card {
        width: 300px;
    }
    .smallinfo__card img {
        width: 300px;
    }
    .smallinfo__right {
        left: 0%;
        bottom: 5%;
    }
    .smallinfo__card:nth-child(even) > .smallinfo__right {
        left: 0%;
    }
}