.person__details {
    width: 550px;
    margin-bottom: 150px;
}
.biginfo__card {
    height: 550px;
    display: flex;
    position: relative;
}
.biginfo__right h2, .biginfo__right h1, .biginfo__right p {
    background-color: aqua;
    color: black; 
    max-width: fit-content;
    padding: 3px 5px 3px 5px;
}
.biginfo__card img {
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.biginfo__left {
    position: absolute;
    height: 100%;
    left: -20%;
}
.biginfo__right {
    position: absolute;
    right: -20%;
    width: 50%;
    padding: 10px;
    text-align: left;
}
.biginfo__right p {
    margin: 0;
    font-size: large;
    margin-left: 25px;
    margin-top: 15%;
}

.content > h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: right;
    margin-right: 10%;
}

.project__details {
    width: 80%;
}
.smallinfo__card {
    height: auto;
    width: 70%;
    justify-content: center;
    display: flex;
    place-content: center;
    flex-direction: row-reverse;
    position: relative;
    gap: 25px;
    margin-bottom: 75px;
}

.smallinfo__card img {
    width: 450px;
    max-height: 100%;
    opacity: 0.9;
}
.smallinfo__right {
    margin-top: 30px;
}
.smallinfo__right p {
    margin-top: 30px;
    width: 350px;
}
.smallinfo__right h2 {
    margin-bottom: 30px;
}

.smallinfo__card:nth-child(even) {
    flex-direction: row;
}


@media (max-width: 1000px) {
.smallinfo__right p {
    max-width: 30vw;
}
}
@media (max-width: 800px) {
    .smallinfo__card {
        width: 100%;
    }
    .biginfo__card {
        width: 100%;
    }
    .biginfo__left {
        left: 0%
    }
    .biginfo__right {
        position: relative;
        left: 0%;
        bottom: -45%;
        padding: 10px;
        text-align: left;
    }
    .smallinfo__right p {
        max-width: 25vw;
    }
}
@media (max-width: 700px) {
    .smallinfo__card {
        flex-direction: column;
        text-align: right;
        height: fit-content;
        width: min-content;
        margin-left: auto;
        margin-bottom: 100px;
    }
    .smallinfo__card img {
        width: 75vw;
    }
    .smallinfo__card:nth-child(even) {
        flex-direction: column;
        height: fit-content;
        text-align: left;
        margin-left: 0;
        margin-right: auto;
    }
    .smallinfo__right {
        margin-top: 0px;
    }
    .smallinfo__right h2{
        margin-bottom: 15px;
    }
    .smallinfo__right p {
        max-width: 75vw;
        width: 75vw;

    }
    .person__details {
        width: 90%;
    }
    .biginfo__card {
        flex-direction: column;
        height: 100%;
    }
    .biginfo__left {
        position: relative;
    }
    .biginfo__right {
        position: relative;
        width: 80%;
    }
    .biginfo__right p {
        margin: 0;
        font-size: large;
        margin-left: 25px;
        margin-top: 20px;
    }

   
}



