.people {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 85%;
    gap: 35px;
}
.nofound, .found {
    text-align-last: center;
}

@media (max-width: 1200px) {
.people {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
}
}