

.purpose-container {
    min-height: 200px;
    /* background-color: rgb(26, 26, 26); */
    color: rgb(26, 26, 26);
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    margin-bottom: 5em;
}
.purpose-cards {
}
.purpose-card {
    display: inline-block;
    max-width: 25%;
    text-align:center;
    vertical-align: middle;
    margin:1em;
}

.purpose-card img {
    width: 60%;
    align-items: center;
    margin-bottom: 1em;
}

.purpose-card p {
    text-align: center;
}