

.purpose-container {
    min-height: 200px;
    color: rgb(26, 26, 26);
    width: 100%;
    margin-bottom: 5em;
}

.purpose-card {
    display: inline-block;
    text-align:center;
    vertical-align: middle;
    margin:1em;
}

.purpose-cards .purpose-card {
    max-width: 25%;
}

.purpose-card img {
    height: 170px;
    align-items: center;
    margin-bottom: 1em;
}

.purpose-card p {
    text-align: center;
}
.purpose-slides {
    display: none;
}

.purpose-slides .purpose-card img {
    margin-left: auto;
    margin-right: auto;
}
.purpose-slides .purpose-card {
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 950px) {
    .purpose-cards {
        display: none;
    }
    .purpose-slides {
        display: contents;
    }


}