@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

.sentence {
    max-width: 700px;
    text-align: left;
}

.heroPara, .words {
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: xxx-large;
    text-align: left;
    vertical-align: middle;
    margin: 10px;
}

.words {
    display: inline-block;
    font-weight: 600;
    color: rgb(255, 136, 0);
    max-height: 60px;
    overflow: hidden;
    margin: 0;
    padding-right: 10px;
}

.sentence span {
    display: block;
    height: 100%;
    padding-left: 10px;
    animation: spin_words 6s infinite;
    padding-left: 10px;
}

@keyframes spin_words {
    10% {
        transform: translateY(-112%);
    }
    25% {
        transform: translateY(-100%);
    }
    35% {
        transform: translateY(-212%);
    }
    50% {
        transform: translateY(-200%);
    }
    60% {
        transform: translateY(-312%);
    }
    75% {
        transform: translateY(-300%);
    }
    85% {
        transform: translateY(-412%);
    }
    100% {
        transform: translateY(-400%);
    }
}