@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

.sentence {
    max-width: 700px;
    text-align: left;
    margin: 0 0 50px 2em;
}

.heroPara, .words {
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: xxx-large;
    text-align: left;
    vertical-align: middle;
    margin: 10px;
}

.words {
    display: inline-block;
    font-weight: 600;
    color: rgb(255, 136, 0);
    max-height: 60px;
    overflow: hidden;
    margin: 0;
    padding-right: 10px;
}

.sentence span {
    display: block;
    height: 100%;
    padding-left: 10px;
    animation: spin_words 10s infinite;
    padding-left: 10px;
}

@keyframes spin_words {
    8% {
        transform: translateY(-112%);
    }
    12% {
        transform: translateY(-100%);
    }
    20% {
        transform: translateY(-212%);
    }
    24% {
        transform: translateY(-200%);
    }
    32% {
        transform: translateY(-312%);
    }
    36% {
        transform: translateY(-300%);
    }
    44% {
        transform: translateY(-412%);
    }
    48% {
        transform: translateY(-400%);
    }
    56% {
        transform: translateY(-512%);
    }
    60% {
        transform: translateY(-500%);
    }
    68% {
        transform: translateY(-612%);
    }
    72% {
        transform: translateY(-600%);
    }
    80% {
        transform: translateY(-712%);
    }
    84% {
        transform: translateY(-700%);
    }
    92% {
        transform: translateY(-812%);
    }
    100% {
        transform: translateY(-800%);
    }
}