

.search_box {
    width: 70%;
    height: 35px;
}
.mobile_search_box {
    height: 35px;
}
.search_box input {
    width: calc(100%);
    height: 110%;
    font-size: medium;
    text-align: left;
    padding: 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.search_box button, .mobile_search_box button {
    border-radius: 0;
    border: none;
    background-color: transparent;
    font-size: x-large;
    float: right;
    width: 50px;
    height: 110%;
    cursor: pointer;
    position: absolute;
    right: 0px;
}
.mobile_search_box button {
    right: 5px;
}
.search_box i:active {
    font-size: large; 
  }
.search_box form {
    height: 100%;
    position: relative;

}
.mobile_search_box form {
    height: 100%;
    width: 125%;
    position: relative;
}
.mobile_search_box {
    width: 120%;
}
.mobile_search_box input {
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: small;
    padding: 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.mobile_search_box button {
    border-radius: 0;
    float: right;
    font-size: larger;
    width: 30px;
    height: 100%;
}
.mobile_search_box i:active{
    font-size: large;
}

.search-history {
    z-index: 9999;
    position:sticky;
    background-color: white;
    border: 1px solid rgba(125,125,125,.56);
    border-top: none;
    box-shadow: 0 1px 4px #7d7d7d1c;
    height: max-content;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    overflow: hidden;
    font-size: smaller;
}
.search-history span {
    display: contents;
}
.history-list {
    display: flex !important;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.history-list p {
    font-size: small;
    margin-bottom: 5px;
    font-weight: 600;
    margin: 0;
}

.history-list ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.history-list li {
    padding: 0;
    margin: 0;
    text-align:left;
    font-size: small;
}

button.clear-history {
    padding: 0;
    padding-right: 10px;
    width: max-content !important;
    height: max-content !important;
    font-size: small;
    color: gray;
    background-color: transparent;
    border: none;
    align-self: self-start;
}

button.clear-history span {
    text-decoration: underline;
}

