.mobile_search_box {
    display: none;
    height: 45%;
    padding-left: 2%;
    padding-right: 2%;
}

.search_box {
    margin-left: 20px;
    width: 70%;
    height: 35px;
    margin-right: auto;
}
.search_box input {
    width: calc(100% - 50px);
    height: 110%;
    text-align: left;
    padding: 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.search_box button {
    border-radius: 0;
    float: right;
    width: 50px;
    height: 110%;
}
.search_box form {
    height: 100%;
}
.mobile_search_box form {
    height: 100%;
}
.mobile_search_box input {
    width: calc(100% - 60px);
    height: 100%;
    text-align: left;
    font-size: larger;
    padding: 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.mobile_search_box button {
    border-radius: 0;
    float: right;
    font-size: larger;
    width: 60px;
    height: 100%;
}

.search-history {
    z-index: 9999;
    position:sticky;
    background-color: white;
    border: 1px solid rgba(125,125,125,.56);
    border-top: none;
    box-shadow: 0 1px 4px #7d7d7d1c;
    height: max-content;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    overflow: hidden;
    font-size: smaller;
    width: 100%;
}
.history-list {
    display: flex !important;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.history-list p {
    margin-bottom: 5px;
    font-weight: 600;
}

.history-list ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.history-list li {
    padding: 0;
    margin: 0;
    text-align:left;
    font-size: medium;
}

button.clear-history {
    padding: 0;
    width: max-content !important;
    height: max-content !important;
    font-size: medium;
    color: gray;
    background-color: transparent;
    /* justify-content: center; */
    align-self: self-start;
}

button.clear-history span {
    text-decoration: underline;
}