.box {
    height: 250px;
    width: 90% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color: aqua; */
    border: 1px solid rgba(125,125,125,.16);
    box-shadow: 0 1px 4px #7d7d7d1c;
}
.box img {
    flex-shrink: 0;
    max-width: 100%;
    min-height: 100%; /* Center the image within the div */
}
.box h4 {
    margin: 0;
}
#showcase {
    margin-top: 25px;
    margin-bottom: 50px;
}