.box {
    height: 300px;
    width: 300px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    
    /* border: 1px solid rgba(125,125,125,.16);
    box-shadow: 0 1px 4px #7d7d7d1c; */
}
h1.people-title {
    margin-bottom: 75px;
}

.box img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.box h4 {
    margin: 0;
}
#showcase {
    margin-top: 25px;
    margin-bottom: 50px;
}