.newsletter {
    max-width: 600px;
    margin-top: 5%;
    padding: 0 10px 0 10px;
}
.newsletter p {
    text-align: left;
    margin-bottom: 0.5rem;
}
.sub__heading {
    text-align-last: left;
}
.sub__form {
    width: 100%;
}
.sub__form form {
    display: inline-flex;
    width: 100%;
    position: relative;
}

.sub__form form input {
    height: 110%;
    font-size: medium;
    text-align: left;
    padding: 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.form__email, .subscribing {
    height: 35px;
    width: 100%;
    font-size: large;
    
}
div.form__email, div.subscribing {
    position: absolute;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110%;
}
div.subscribing {
    background-color: lightgrey;
}
div.form__email {
    background-color: red;
    color: white;
}
.sub__error {
    color: red;
}
