.works-background {
    min-height: 200px;
    background-color: rgb(26, 26, 26);
    color: rgb(238, 238, 238);
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    margin-bottom: 5em;
    padding: 1em 0;
}

.works-container {
    max-width: 900px;
    width: 100vw;
}

.works-title {
    margin: 4em auto;
}

.works-title h1 {
    margin: 20px 1em;
    font-weight: 300;
}

.works-content {
    width: 60%;
    margin-left:auto;
    margin-right: 1em;
}

.works-card {
    display: inline-block;
    max-width: 25%;
    text-align:center;
    vertical-align: middle;
    margin:1em;
}

.works-card img {
    width: 60%;
    align-items: center;
    margin-bottom: 1em;
}

.works-card p {
    text-align: center;
}