@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

.App {
  text-align: center;
  /* display: flex; */
  flex-direction: column;
}

.content {
  margin: 0 auto;
}




