@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

.App {
  text-align: center;
  /* display: flex; */
  flex-direction: column;
  width:100%;
  
}

.content {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.people-title {
  font-family: 'Quicksand', sans-serif;
}


