@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.App {
  overflow-x: hidden !important;
}


body {
  margin: 0;
  font-family: 'Montserrat', 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: whitesmoke;
  font-weight: 500;
}

#root {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: contents;
  text-align: -webkit-center;
}

footer {
  margin-top: auto;
  align-self: flex-end
}

h1, h2, h3, h4, p {
  margin: 0;
  text-align: left;
}

.App {
  text-align: center;
  /* display: flex; */
  flex-direction: column;
  min-height: 100vh;
}
.content {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 70vh;
  margin: auto;
  width: 100%;
  place-self: center;
}
